body{ 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: azure;
    background-color: black;
    padding: 0;
    margin: 0 auto;
    width: 750px;

}

section ul{
    
    list-style: none;
    align-items: left;
}



section h1{
    color: #ffffff;
}

section p{
    
}